*.pdf
*.zip
icon.png
!base/art/*.pdf
!doc/beamerlogo.pdf
!doc/examples/a-lecture/beamerexample-lecture-logo.pdf
!doc/beamerthemeexample/*.pdf
doc/.latexmkrc
.latexmkrc
# doc/postprocess-analysis.py
*_html_inc.tex
.prettierrc
doc/**/*.html
cpcss.py
home.py
